* {
    font-family: 'Arvo', sans-serif;
}
.game {
    padding-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-brand img {
    width: 150px;
}
.battle-grid {
    table-layout: fixed;
    margin: 0px auto;
    float: none;
    width: 400px;
    height: 400px;
}
.battle-grid td {
    border: thin solid #7a7a7a;
    text-align: center;
    vertical-align: center;
    /* Force sizes - there's definitely a better way for this */
}
.battle-grid td:not(.coord):hover {
    background: red;
}
.battle-grid td.coord {
    border: none;
    color: #7a7a7a;
    font-size: 11px;
}
#draggable5 {
    width: 36px;
    height: 72px;
    display: block;
    border: thin solid black;
    background-color: rgba(255, 0, 6, 0.49);
}
.ui-draggable, .ui-droppable {
    background-position: top;
}
#match-bar * {
    margin-left: 5px;
}