* {
    font-family: 'Arvo', sans-serif;
}
.game {
    padding-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-brand img {
    width: 150px;
}
.battle-grids {
    padding: 25px;
}
.battle-grid-container {
    float: left;
    padding-right: 100px;
}
.battle-grid {
    width: 400px;
    height: 400px;
}
.battle-grid td {
    border: thin solid #7a7a7a;
    text-align: center;
    vertical-align: center;
    /* Force sizes - there's definitely a better way for this */
    min-width: 5px;
    max-width: 5px;
    min-height: 5px;
    max-height: 5px;
}
.battle-grid td.coord {
    border: none;
    color: #7a7a7a;
}
.clearfix {
    clear: both;
}
#draggable5 {
    width: 36px;
    height: 72px;
    display: block;
    border: thin solid black;
    background-color: rgba(255, 0, 6, 0.49);
}
.ui-draggable, .ui-droppable {
    background-position: top;
}
#match-bar * {
    margin-left: 5px;
}